@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


@theme{
    /*    color  */
    --color-brand: #FF624C;
    --color-primary: #303030;
    --color-secondery: #979797;
    --color-tertary: #CBCBCB;


    /*    font */
    --font-montserrat: 'Montserrat', sans-serif;
    --font-poppins: 'Poppins', sans-serif;


    --animate-notify: notify .4s ease-in-out alternate;
    --animate-switchleft: switchleft .4s ease-in-out;
    @keyframes notify {
      0%{
        opacity: 0.3;

      }
      100% {
        opacity: 1;
      }
    }

    @keyframes switchleft {
      0%{
        right: 5px;
      }
      100% {
        left: 5px;
      }
    }
}


/* common css */
::-webkit-scrollbar {
    @apply hidden
}

::-webkit-scrollbar-track {
    @apply bg-tertary
}

::-webkit-scrollbar-thumb {
    @apply bg-brand rounded-[10px]
}

.commonHead {
    @apply font-poppins font-semibold text-xl md:text-2xl  lg:text-4xl text-primary leading-[46px]
}
.commonPara {
    @apply font-montserrat font-normal text-[13px] md:text-base lg:text-xl lg:leading-[30px]
}

.commonButton{
  @apply  py-4 px-10 bg-brand rounded-[5px] md:rounded-[10px]  font-montserrat font-bold  text-[14px] md:text-base lg:text-[20px] leading-[30px] text-white cursor-pointer    
}


/*   header css   */
.navLink {
    @apply cursor-pointer flex gap-1 md:gap-2 items-center font-montserrat text-white text-[12px] lg:text-base lg:leading-[24px] font-medium md:font-bold
}


/* footer css */
.footerHead {
    @apply font-poppins font-semibold text-base lg:text-xl leading-[30px]  pb-3  lg:pb-6 
}
.footlinks {
    @apply  font-montserrat text-[13px] lg:text-base lg:leading-[24px]
}
.checkoutButtons{
    @apply font-poppins font-semibold text-[24px]  leading-[30px] duration-300  cursor-pointer
}

/* blog */
.blogCategory{
  @apply font-montserrat font-normal text-base leading-6 text-white pb-3 border-b border-[#646464] cursor-pointer  
}

.blogTag{
  @apply font-montserrat font-normal text-sm leading-5 text-[#303030] py-3 px-4 rounded-[5px] bg-white  cursor-pointer 
}

/* price chooser */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #FF624C;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  pointer-events: auto;

}

.slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #FF624C;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  appearance: none;
}

/* product details */
.thumbnailimage .slick-active.slick-current{
  border: 1px solid #FF624C;
  overflow: hidden; 
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}