@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


@theme{
    /*    color  */
    --color-brand: #FF624C;
    --color-primary: #303030;
    --color-secondery: #979797;
    --color-tertary: #CBCBCB;


    /*    font */
    --font-montserrat: 'Montserrat', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

}


/* common css */
::-webkit-scrollbar {
    @apply w-[3px]
}

::-webkit-scrollbar-track {
    @apply bg-tertary
}

::-webkit-scrollbar-thumb {
    @apply bg-brand rounded-[10px]
}

.commonHead {
    @apply font-poppins font-semibold text-4xl text-primary leading-[46px]
}
